################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/DirectX_Sample/x64/Debug
/x64/Debug
/imgui.ini
/texture.png
/test_sound.wav
/2D_Shott.82f6f364/x64/Debug
